// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.box5 p {
    margin: 0;
    padding: 0;
}

.level-announce{
  margin-bottom: 5px;
}

.main-sentence{
  font-size: 10px;
}

.announce-sentence-1 {
  float: left;
}

.level-sentence{
  font-size: 20px
}

.category-edit{
  margin-top: 30px;
}

.category-set{
  float: left;
  margin-right: 8px;
}

.category-background{
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
}

.category-delete-button{
  background-color: #FF4F02;
  border-radius: 8px;
  font-size: 5px;
}

.category-make-form{
  margin-top: 15px;
  clear: left;
}

.words-search{
  margin-top: 30px;
  margin-bottom: 30px;
}

.kakomi-tape2 {
 position: relative;
 width: 90%;
 margin: 2.5em auto;
 padding: 35px 30px 20px;
 color: #770000;/* 文字色 */
 background-color: #e8ddbd; /*枠背景色*/
 box-shadow: inset 0 0 40px rgba(204, 186, 136,1), 0 2px 2px #ccc;
}
.kakomi-tape2::before {
 display: block;
 position: absolute;
 content: "";
 width: 140px;
 height: 35px;
 left: 35%;
 top: -16px;
 background-color: rgba(204, 186, 136,0.3);/*テープ色*/
 box-shadow: 0 0 3px rgba(0,0,0,0.1);
 transform: rotate( -3deg ); /*テープ角度*/
}

.level-text{
float:left;
}

.announce-sentence-3{

}

.box-title{
  font-family: "Rounded Mplus 1c";
  font-weight: bold;
  margin: auto;
  background: #3399FF; /*背景色*/
  padding: 0.5em;/*文字周りの余白*/
  color: white;/*文字を白に*/
  border-radius: 0.5em;/*角の丸み*/
  width: 70%;
}

.list-container{
  clear: both;
  margin-bottom: 30px;
}

.word-delete-button{
  background-color: #FF4F02;
  border-radius: 8px;
  font-size: 5px;
}
